login.php
query.php
query0.php
wpadmin.txt

config.php
dir.txt
index.php
license.txt
orig.config.php
readme.html
remote.config.php
wp-activate.php
wp-admin
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php

wp-cron.php
wp-includes
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

.DS_Store
.project
21cgeek/.DS_Store
21cgeek/.buildpath
21cgeek/.project
21cgeek/wp-content/.DS_Store
21cgeek/wp-content/plugins/
21cgeek/wp-content/themes/.DS_Store
offgitignore

21cgeek/wp-content/themes/twentynineteen/
21cgeek/wp-content/themes/twentytwenty/
21cgeek/wp-content/themes/twentytwentyone